<!-- Chartist -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

<div class="container">

  <h4>Precio de la acción ( $ )</h4>
  <div id="chart1" class="ct-chart ct-perfect-fourth"></div>

  <h4>Volumen de su mercado (miles de $)</h4>
  <div id="chart2" class="ct-chart ct-perfect-fourth"></div>
<hr>
  <h4>Tabla de datos</h4>

  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nomenclatura</th>
        <th scope="col">Nombre Real</th>
        <th scope="col">Precio de la acción</th>
        <th scope="col">Volumen de su mercado (miles de $)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ company.symbol }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.price }}</td>
        <td>{{ company.volume }}</td>
      </tr>
    </tbody>
  </table>

</div>




